.galleryhead{
    position: relative;
    height:40vh;
    background: url('../../assets/images/gallery.png');
    background-color: #181f22d0;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.galleryhead h2{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
}
.headH{
    margin-top: 50px;
    color: #181f22d0;
}
.headH .rule{
    margin-top: 3px;
    background-color: #181f22d0;
    padding-right: 40px;
    width: 20px;
    height: 1px;
    border-radius: 4px;
}
.images{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.gallery img{
    margin: 20px 40px 0 0;
}