.aboutHead{
    position: relative;
    height:40vh;
    background: url('../../assets/images/aboutus.png');
    background-color: #181f22d0;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.aboutHead h2{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
}
.about h2{
    color: #181f22d0;
    font-family: serif;
}
.headH{
    margin-bottom: 15px;
}
.about .rule{
    background-color: #181f22d0;
    padding-right: 40px;
    width: 20px;
    height: 1px;
    border-radius: 4px;
}
.about section{
    padding: 40px 0;
    font-family: sans-serif;
}
.about section h3{
    color:#DBBC8F;
    padding-bottom: 10px;
}