.btn1{
    background-color: white;
    outline: none;
    border: none;
    color: #174051;
    padding: 10px 35px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.btn2{
    background-color: #DBBC8F;
    color: white;
    padding: 10px 35px;
    outline: none;
    border: none;
    width: max-content;
    margin-top: 20px;
    cursor: pointer;
}
.btn3{
    background: #174051;
    color: white;
    padding: 10px 35px;
    outline: none;
    border: none;
    width: max-content;
    margin-top: 20px;
    cursor: pointer;
}

@media (max-width:700px) {
    .btn1{
    background-color: white;
    outline: none;
    border: none;
    color: #174051;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 13px;
}
.btn2{
    background-color: #DBBC8F;
    color: white;
    padding: 10px;
    outline: none;
    border: none;
    width: max-content;
    margin-top: 20px;
    font-size: 13px;
}
.btn3{
    background: #174051;
    color: white;
    padding: 10px;
    outline: none;
    border: none;
    width: max-content;
    margin-top: 20px;
    font-size: 13px;
}
}