*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
#container{
    margin: 0 71px;
    overflow: hidden;
}
@media (max-width:320px) {
    #container{
    margin: 0 20px;
}
}

@media (max-width:520px) {
    #container{
    margin: 0 30px;
}
}